<!DOCTYPE html>
<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/base.css">
    <title>Messagely - Home</title>
{% endblock %}
<body>
    <nav>
        <h1>Welcome to Messagely!</h1>
        <ul>
            <li>About</li>
            <li>Contact</li>
            <li>Home</li>
        </ul>
        <i class="fas fa-bars"></i>
    </nav>
    <div class="pulldown">
        <h1>Home</h1>
        <h1>About</h1>
        <h1>Contacts</h1>
    </div>
    {% block content %}
    {% endblock %}
    <footer>
        <p>A Springboard student app, &copy; 2021.</p>
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/navbar.js"></script>
</body>
</html>