{% extends 'base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Messagely - Login</title>
{% endblock %}
{% block content %}
<div class="container">
    <form action="/login" method="POST">
        <label for="username">Enter Your Username</label>
        <input type="text" name="username" id="username" placeholder="Ex: coolGuy123" required>
        <label for="password">Enter Your Password</label>
        <input type="password" name="password" id="password" placeholder="Ex: @seCretPAswRd8!" required>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}